@()

@main("Welcome to Play") {
<div>
    <ul>
        <li>
            Vulnerable widgets: <a href="@routes.VulnerableWidgetController.listWidgets">@routes.VulnerableWidgetController.listWidgets</a>
        </li>
        <li>
            Secured widgets: <a href="@routes.SecuredWidgetController.listWidgets">@routes.SecuredWidgetController.listWidgets</a>
        </li>
        <li>
            GPT-secured widgets: <a href="@routes.GPTSecuredWidgetController.listWidgets">@routes.GPTSecuredWidgetController.listWidgets</a>
        </li>
    </ul>
</div>
}
